.render {
    float: left;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.render .card {
    margin: 8px;
    width: 250px;
    border: 1px #dfdfdf solid;
    border-radius: 20px;
    padding: 8px;
    height: 500px;
}

